.DS_Store
.idea
.vscode/*.code-workspace
node_modules
dist
.umi
.cache
coverage
*.log
.playwright-cli
.superdesign

apps/api/target
apps/api/.mvn/wrapper/maven-wrapper.jar

infra/data

.env
.env.local
